@font-face {
  font-family: "Gilroy";
  src: url(../font/gilroy/Gilroy-Heavy.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/gilroy/Gilroy-Extrabold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/gilroy/Gilroy-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/gilroy/Gilroy-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/gilroy/Gilroy-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/gilroy/Gilroy-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/gilroy/Gilroy-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/gilroy/Gilroy-Thin.woff2) format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(../font/bebas/BebasNeueBold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(../font/bebas/BebasNeueRegular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(../font/bebas/BebasNeueLight.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(../font/bebas/BebasNeue-Thin.woff2) format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(../font/bebas/BebasNeueBook.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
select,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

.footer__site-dev-icon {
  margin-bottom: 3px;
}
.footer__site-dev-icon *[fill] {
  fill: #ffa500;
}
svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-accent: #337eff;
  --color-content: #202940;
  --color-bg-menu: #202940e6;
  --color-slider-bg: #370563;
  --color-hover-img: #2029406d;
  --color-lightBlue: #f6f7fb;
  --color-white: #fff;
  --color-lightGray: #ced6ea;
  --color-logoGrad: #4c8ae6;
  --color-gray: #798298;
  --color-lightGray-second: #9095a1;
  --color-firstCard: #ffe7c3;
  --color-secondCard: rgba(246, 226, 102, 1);
  --color-thirdCard: rgba(177, 232, 255, 1);
  --color-fourthCard: rgba(161, 181, 255, 1);
  --color-fifthCard: rgba(56, 216, 197, 1);
  --color-sixthCard: rgba(198, 247, 160, 1);
  --color-cardPill: #ffb8f4;

  --border: 1px solid var(--color-accent);
  --border-radius: 32px;
  --border-radius-small: 16px;
  --border-radius-large: 64px;

  --font-family-base: "Gilroy";
  --font-family-common: "Bebas Neue";

  --h1-font-size: clamp(32px, 23.6522px + 2.6087vi, 56px);
  --h2-font-size: clamp(30px, 23.7391px + 1.9565vi, 48px);
  --h3-font-size: clamp(25px, 19.7826px + 1.6304vi, 40px);
  --h4-font-size: clamp(22px, 21.3043px + 0.2174vi, 24px);

  --font-size-main: 16px;
  --font-size-common: 18px;
  --font-size-big: clamp(18px, 15.913px + 0.6522vi, 24px);
  --font-size-small: 14px;
  --font-size-extra-small: clamp(12px, 10.6087px + 0.4348vi, 16px);

  --font-size-for-button: clamp(16px, 15.3043px + 0.2174vi, 18px);

  --transition-duration: 0.3s;

  --section-gap: 100px;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-main);
  color: var(--color-content);
  background-color: var(--color-lightBlue);
  gap: var(--section-gap);
}

/* headings */
.h1 {
  font-size: var(--h1-font-size);
}
.h2 {
  font-size: var(--h2-font-size);
}
.h3 {
  font-size: var(--h3-font-size);
}
.h4 {
  font-size: var(--h4-font-size);
}

/* link,button */
.link:hover,
.link:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.075) inset,
    2px 2px 2px 2px rgba(82, 168, 236, 0.6);
  outline: 0 none;
}
.button {
  font-size: var(--font-size-for-button);
}

/* modal */
.modal__body,
.modal__header {
  padding: 10px;
}
.modal__title {
  font-size: var(--font-size-big);
}
.modal__close {
  margin-top: 0px;
}
.modal__text {
  font-size: var(--font-size-for-list);
}
.modal__close {
  margin-top: 5px;
}

/* modal description */
.modal__footer {
  padding: 31px 46px 0px 31px;
}
.modal__header-title {
  font-size: clamp(23px, 20.5652px + 0.7609vi, 30px);
}
.modal__body-title {
  padding-top: 34px;
}
.modal__body-description-text {
  padding-bottom: 32px;
  border-bottom: 1px solid var(--color-lightGray);
}
.modal__body-description-text_p {
  padding-bottom: 32px;
}
.modal__body-item::marker {
  font-weight: 700;
}
.modal__body-item > span {
  font-weight: 700;
}
.modal__footer {
  border-top: 0;
  display: block;
  background-color: var(--color-content);
}
#demoLessonModalForm .modal-content {
  background-color: var(--color-content);
  color: var(--color-white);
}
#demoLessonModalForm .modal-header {
  border-bottom: none;
}
.modal__footer-form {
  border-top: 1px solid var(--color-lightGray);
  padding: 34px 0;
}
.modal__footer-form-wrapper {
  max-width: 74px;
}
.modal__footer-form-label {
  font-size: 12px;
}
.modal__footer-form-input {
  height: 34px;
  width: 341px;
  padding: 12px;
  border: 1px solid var(--color-lightGray);
}
.modal__footer-contacts {
  padding: 0 0 25px 0;
}
.modal__footer-textarea {
  padding: 0 0 30px 0;
  border-bottom: 1px solid var(--color-lightGray);
}
.modal__footer-form-textarea {
  resize: none;
  width: 100%;
  height: 31px;
}
.modal__footer-form-textarea::-webkit-scrollbar {
  width: 0;
}

/* Modal approval application */
.modal-app__content {
  position: relative;
}
.modal-header .modal-app__close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.modalApp__body-span {
  font-size: clamp(20px, 16.5217px + 1.087vi, 30px);
}
.modalApp__body-text {
  font-size: clamp(16px, 13.2174px + 0.8696vi, 24px);
}

/* modal submit */
.modal__close-submit {
  background-image: url(../img/button/close-btn.png);
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

/* header */
.header__nav-label {
  font-family: var(--font-family-common);
  font-size: 24px;
  color: var(--color-content);
  width: 108px;
}
.header__nav-link {
  color: var(--color-content);
  position: relative;
}
.header__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  border-radius: var(--border-radius);
  background-color: var(--color-accent);
  transition: var(--transition-duration);
}
.header__nav-link:hover::after {
  width: 100%;
}
.header__nav-link:hover {
  color: var(--color-accent);
}
.navbar-nav .nav-link.active {
  color: var(--color-accent);
}
.header__offcanvas-wrapper {
  background-color: var(--color-bg-menu);
}
.header__nav-menu-link {
  color: var(--color-lightBlue);
}
.header__nav-menu-link:hover {
  color: var(--color-accent);
}

/* promo */
.promo__title {
  max-width: 550px;
}
.promo__list {
  font-size: var(--font-size-big);
  margin-bottom: 32px;
}
.promo__list-item {
  list-style: disc;
}
.promo__img-hidden {
  max-width: 470px;
  background-color: var(--color-white);
}
.promo__img-hidden-text {
  max-width: 300px;
  font-size: var(--font-size-extra-small);
}
.promo__img-wrapper {
  position: relative;
}
.promo__img-man {
  border-radius: 90px;
  position: absolute;
  top: 58px;
  left: 40px;
  z-index: -1;
  width: 436px;
}
.promo__img-absolute-title {
  max-width: 350px;
  position: absolute;
  top: 143px;
  left: -108px;
  z-index: 11;
  background-color: #ffffff91;
}
.promo__img-title-text {
  font-size: var(--font-size-small);
  max-width: 162px;
}

/* cards */
.cards__wrapper {
  gap: 22px;
}
.cards__desc {
  font-size: var(--font-size-big);
}
.cards__content {
  border-radius: var(--border-radius);
  padding: 20px;
  width: 425px;
  box-shadow: 4px 7px 4px 0 rgba(0, 0, 0, 0.13);
}
.cards__body {
  gap: 18px;
  position: relative;
  justify-content: space-between;
}
.cards__body_first::after,
.cards__body_second::after,
.cards__body_third::after,
.cards__body_fourth::after,
.cards__body_fifth::after,
.cards__body_sixth::after {
  content: "";
  position: absolute;
  top: -40px;
  right: -21px;
  background-repeat: no-repeat;
  width: 174px;
  height: 200px;
  z-index: 1;
}
.cards__body_first::after {
  background-image: url(../img/cards/web.svg);
}
.cards__body_second::after {
  background-image: url(../img/cards/front.svg);
}
.cards__body_third::after {
  background-image: url(../img/cards/typeScript.svg);
}
.cards__body_fourth::after {
  background-image: url(../img/cards/java.svg);
}
.cards__body_fifth::after {
  background-image: url(../img/cards/tgBots.svg);
}
.cards__body_sixth::after {
  background-image: url(../img/cards/spring.svg);
}
.cards__span {
  background-color: var(--color-cardPill);
  border-radius: var(--border-radius);
  font-size: var(--font-size-extra-small);
  max-width: 167px;
  text-align: center;
  padding: 2px 0;
}
.cards__subtitle,
.cards__text {
  max-width: 269px;
  margin-bottom: 0;
}
.cards__text {
  max-width: 299px;
}
.cards__subtitle_w {
  max-width: 266px;
}
.cards__content_bg-first {
  background-color: var(--color-firstCard);
}
.cards__content_bg-second {
  background-color: var(--color-secondCard);
}
.cards__content_bg-third {
  background-color: var(--color-thirdCard);
}
.cards__content_bg-fourth {
  background-color: var(--color-fourthCard);
}
.cards__content_bg-fifth {
  background-color: var(--color-fifthCard);
}
.cards__content_bg-sixth {
  background-color: var(--color-sixthCard);
}
.button:hover > span {
  padding-left: 5px;
  translate: 0 5px;
  transition: var(--transition-duration);
}

/* about */
.about__row {
  row-gap: var(--section-gap-small);
}
.about__text {
  font-size: var(--font-size-big);
}
.about__img {
  border-radius: var(--border-radius-large);
  object-fit: cover;
  width: 100%;
  height: 600px;
}

/* history */
.history__row {
  row-gap: var(--section-gap-small);
}
.history__title {
  font-size: var(--h2-font-size);
}
.history__text {
  text-align: justify;
}
.history__content {
  padding-left: 5px;
}
.history__text-title {
  font-size: var(--font-size-big);
  margin-bottom: 28px;
}
.history__subtitle {
  font-size: var(--h4-font-size);
}
.history__media {
  max-width: 650px;
  min-height: 307px;
}

/* events */
.events__text {
  font-size: var(--font-size-big);
}
.events__video {
  position: relative;
  padding-right: 4px;
}
.events__video::after {
  content: "";
  background-image: url(../img/events/left_block/youtube2.svg);
  background-repeat: no-repeat;
  width: 134px;
  height: 136px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.events__img_radius-top {
  border-radius: 0 32px 0 0;
}
.events__img_radius-bottom {
  border-radius: 0 0 32px 0;
}
.events_filter-img-bottom-right {
  border-radius: 0 0 32px 0;
}
.events__video_radius {
  border-radius: 32px 0 0 32px;
  object-fit: cover;
  min-height: 435px;
}
.events_filter-video,
.events_filter-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-hover-img);
  opacity: 0;
}
.events_filter-video {
  width: 97%;
  margin-left: 50px;
  border-radius: 32px 0 0 32px;
}
.events__img-wrapp {
  padding-left: 0px;
}
.events_filter-img {
  width: 100%;
}
.events__img-block {
  position: relative;
}
.events__image {
  object-fit: cover;
}
.events__video_radius:hover {
  filter: brightness(0.5);
  transition: var(--transition-duration);
}
.events__search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;
}
.events__img-block:hover .events_filter-img {
  opacity: 1;
  transition: var(--transition-duration);
}
.events__img-block:hover .events__search {
  display: block;
  transition: var(--transition-duration);
}
.events_filter-img-top:hover {
  border-radius: 0 32px 0 0;
}
.events_filter-img-bottom:hover {
  border-radius: 0 0 32px 0;
}
#event__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}
#event__modal.active {
  opacity: 1;
  visibility: visible;
}
#event__modal .event__modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
  max-height: 1200px;
  padding: 100px;
  border-radius: 10px;
}
#youtube-video {
  width: 100%;
  height: 100%;
}
.event__modal-close {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 101%;
  top: -5%;
  cursor: pointer;
}
.event__modal-close::before,
.event__modal-close::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 13px;
  transform: rotate(45deg);
}
.event__modal-close::after {
  transform: rotate(-45deg);
}
.event__modal-close:hover::before,
.event__modal-close:hover::after {
  background-color: rgba(255, 255, 255, 0.603);
}

/* advantages */
.advantages__title {
  max-width: 926px;
}
.advantages__text {
  max-width: 100%;
  font-size: var(--font-size-big);
}
.advantages__content {
  padding: 23px 0 30px 39px;
  position: relative;
}
.advantages__content::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  top: -8px;
  right: -12px;
  background-image: url(../img/advantages/decoration-2.png);
}
.advantages__list {
  font-size: var(--font-size-big);
  row-gap: 30px;
  position: relative;
}
.advantages__list::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  bottom: -55px;
  left: -57px;
  background-image: url(../img/advantages/decoration-1.png);
}
.advantages__item {
  font-size: var(--font-size-common);
  max-width: 410px;
  position: relative;
  margin-left: 35px;
}
.advantages__item_first::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -66px;
  width: 40px;
  height: 40px;
  background-image: url(../img/advantages/ul-1.svg);
  background-repeat: no-repeat;
}
.advantages__item_second::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -66px;
  width: 40px;
  height: 40px;
  background-image: url(../img/advantages/ul-2.svg);
  background-repeat: no-repeat;
}
.advantages__item_third::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -66px;
  width: 40px;
  height: 40px;
  background-image: url(../img/advantages/ul-3.svg);
  background-repeat: no-repeat;
}
.advantages__item_fourth::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -66px;
  width: 40px;
  height: 40px;
  background-image: url(../img/advantages/ul-4.svg);
  background-repeat: no-repeat;
}

/* testimonials */
.testimonials__slider {
  position: relative;
}
.testimonials__slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
}
.testimonials__slider .slick-prev {
  left: 0;
}
.testimonials__slider .slick-next {
  right: 0;
}
.testimonials__slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.testimonials__slider .slick-dots li {
  list-style: none;
}
.testimonials__slider .slick-dots button {
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: var(--color-lightGray);
  border-radius: 50%;
}
.testimonials__slider .slick-dots li.slick-active button {
  background-color: var(--color-gray);
}
.slick-list {
  overflow: hidden;
}
.slick-dots {
  margin: 0;
  margin-top: 35px;
}
.slick-track {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

/* offer */
.offer__card {
  /* z-index: 1; */
  position: relative;
}
.offer__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/offer/bg.svg);
  background-repeat: no-repeat;
  background-position: 10px -1px;
  z-index: -1;
}

/* help */
.help__row {
  padding: 21px 10px 42px;
  position: relative;
  /* z-index: 1; */
}
.help__row::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/help/help-bg.svg);
  background-repeat: no-repeat;
  background-position: 0px -20px;
  z-index: -1;
}
.help__text {
  font-size: var(--font-size-big);
  max-width: 698px;
}

/*teachers*/
.teachers__card {
  padding: 22px 22px 99px 48px;
  position: relative;
  max-width: 545px;
}
.teachers__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/teachers/element_decoration.svg),
    url(../img/teachers/body_decoration.svg),
    url(../img/teachers/header_decoration.svg);
  background-position: 30px 0px, 16px 435px, 224px 172px;
  background-repeat: no-repeat;
}
.teachers__text {
  max-width: 236px;
}
.teachers__img {
  border-radius: var(--border-radius);
  object-fit: cover;
  z-index: 1;
}
.teachers__slider {
  position: relative;
  min-height: 0;
}
.teachers__slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
}
.teachers__slider .slick-prev {
  left: 0;
}
.teachers__slider .slick-next {
  right: 0;
}
.teachers__slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.teachers__slider .slick-dots li {
  list-style: none;
}
.teachers__slider .slick-dots button {
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: var(--color-lightGray);
  border-radius: 50%;
}
.teachers__slider .slick-dots li.slick-active button {
  background-color: var(--color-gray);
}

/* company */
.company__img {
  max-width: 170px;
}
/* soc1al */
.soc1al__media-text {
  font-size: var(--font-size-big);
  padding: 30px 0 25px 22px;
}
.soc1al__card {
  padding: 18px 25px 8px 29px;
  box-shadow: 4px 7px 4px 0 rgba(0, 0, 0, 0.03);
}
.soc1al__text {
  max-width: 339px;
}
.soc1al__img {
  border-radius: 50px;
  object-fit: cover;
  max-width: 263px;
  min-height: 241px;
}
.soc1al__media-text {
  max-width: 545px;
}

/* questions */
.questions__row {
  position: relative;
  /* z-index: 1; */
}
.questions__row::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/questions/questions_bg.svg);
  background-repeat: no-repeat;
  background-position: 0px -40px;
  z-index: -1;
}
.questions__title {
  max-width: 707px;
}
.questions__content {
  padding-left: 48px;
}
.questions__text {
  font-size: var(--font-size-big);
}
.questions__btn {
  font-size: var(--font-size-common);
}

/* footer */
.footer_gray {
  color: var(--color-gray);
}
.footer__title {
  max-width: 227px;
  margin-bottom: 68px;
}
.footer__title-text {
  font-size: 26px;
  font-family: var(--font-family-common);
  color: var(--color-content);
}
.footer__text {
  font-size: var(--font-size-small);
}
.footer__item:first-child {
  margin-bottom: 8px;
}
.footer__link {
  color: var(--color-content);
}
.footer__link-w {
  width: 237px;
  display: inline-block;
  color: var(--color-content);
}
.footer__link:hover,
.footer__link-w:hover {
  color: var(--color-accent);
}
.footer__form-input {
  padding-block: 16px;
}
.footer__frame {
  padding-block: 16px;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius-small);
}

/* loader wrapper*/
.modal__footer {
  position: relative;
}
.modal__footer-loader-wrapper {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #ffffff00;
  z-index: 2;
}
.modal__footer-btn-text,
.modal__footer-label-text {
  cursor: pointer;
}

/* button */
.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  z-index: 10;
}
.fixed__btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #337eff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animate 2s linear infinite;
  transition: all 200ms ease-out;
  border: none;
  position: relative;
  cursor: pointer;
}
.fixed__btn img {
  width: 40px;
  height: 40px;
}
@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 #337eff, 0 0 0 rgba(51, 126, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 0 13.62667px rgba(51, 126, 255, 0),
      0 0 0 6.81333px rgba(51, 126, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 0 27.25333px rgba(51, 126, 255, 0),
      0 0 0 1.62667px rgba(51, 126, 255, 0.7);
  }
}
.fixed__social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixed__link {
  position: absolute;
  top: 13px;
  right: 12px;
  z-index: -1;
  transition: 0.3s;
}
.fixed__num {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #eb5757;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: -8px;
  right: -3px;
  opacity: 0;
}
.fixed__tooltip {
  background: linear-gradient(180deg, #ffffff 0%, #f5f5f5 100%);
  color: #202940;
  padding: 10px 25px 10px 15px;
  box-shadow: 1px 5px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  top: -80px;
  right: 15px;
  width: 200px;
  user-select: none;
  outline: none;
  opacity: 0;
}
.fixed__tooltip::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 13px solid #f5f5f5;
  position: absolute;
  top: 63px;
  right: 30px;
}
.fixed__text {
  margin: 0;
  font-size: 16px;
}
.close-wrapper {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #337eff;
  background-color: #f6f7fb;
  padding: 15px;
  position: relative;
  display: none;
  cursor: pointer;
}
.close {
  width: 5px;
  height: 45px;
  border-radius: 5px;
  background-color: #337eff;
  position: absolute;
}
.close__first,
.close__second {
  top: 50%;
  left: 50%;
}
.close__first {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close__second {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* ФОрма вебинара */
.modal-footer-bg {
  background-color: rgba(24, 31, 48, 1);
}
.product__application {
  /* padding: 40px; */
  gap: 17px;
}
.product__application-title {
  font-size: clamp(24px, 21.913px + 0.6522vi, 30px);
  max-width: 462px;
}
.product__application-text,
.product__sos1al-text,
.product__form-label_font {
  /* font-size: clamp(16px, 13.2174px + 0.8696vi, 24px); */
  color: rgba(133, 134, 137, 1);
}
.product__application-lable {
  border-color: #999;
  padding: 7px;
  /* font-size: clamp(14px, 12.6087px + 0.4348vi, 18px); */
  color: #fff;
}
.product__form {
  gap: 28px;
}
.product__form-label_font {
  font-size: clamp(12px, 10.6087px + 0.4348vi, 16px);
}
.product__form-input {
  padding: 15px 23px;
  font-size: clamp(14px, 12.6087px + 0.4348vi, 18px);
  border-radius: 10px;
}
.form__check {
  gap: 13px;
}
.product__form-btn {
  padding: 12px;
  font-size: clamp(14px, 12.6087px + 0.4348vi, 18px);
  border-radius: 500px;
  font-weight: normal;
}
.product__sos1al {
  gap: 10px;
}
.product__sos1al-links {
  gap: 16px;
}
/* loader wrapper*/
#productForm {
  position: relative;
}
.product__form-loading-wrapper {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #ffffff00;
  z-index: 2;
}

.footer__mail,
.footer__tel {
  text-decoration: underline;
}
/* media */
@media screen and (max-width: 1400px) {
  .cards__body_first::after,
  .cards__body_second::after,
  .cards__body_third::after,
  .cards__body_fourth::after,
  .cards__body_fifth::after,
  .cards__body_sixth::after {
    opacity: 0.5;
  }
  .promo__img-absolute {
    position: absolute;
    top: -14px;
    right: 75px;
    width: 385px;
  }
  .promo__img-absolute-title {
    top: 110px;
    left: -128px;
  }

  .history__media {
    max-width: 100%;
  }
  .events__video {
    padding-right: 5px;
  }
  .events__img-wrapp {
    padding-left: 10.5px;
    flex: 1;
  }
  .events__video::before {
    display: none;
  }
  .events__video_radius {
    border-radius: 32px 32px 0 0;
  }
  .events__image_radius {
    border-radius: 0 0 0 32px;
  }
  .events__img_radius-top {
    border-radius: 0;
  }
  .events_filter-img-bottom:hover {
    border-radius: 0 0 0 32px;
  }
  .events_filter-img-top:hover {
    border-radius: 0;
  }
  .events_filter-img-bottom-right {
    border-radius: 0 0 32px 0;
  }
  .soc1al__media-text {
    max-width: 500px;
  }
}

@media screen and (max-width: 1200px) {
  .cards__body_first::after,
  .cards__body_second::after,
  .cards__body_third::after,
  .cards__body_fourth::after,
  .cards__body_fifth::after,
  .cards__body_sixth::after {
    opacity: 1;
    top: 50%;
    width: 30%;
    transform: translateY(-50%);
    right: 50px;
    background-size: 230px;
    background-position: center;
  }

  .promo__img-absolute {
    position: absolute;
    top: -250px;
    right: -87px;
    width: 441px;
  }

  .events__video_radius,
  .events__image,
  .events_filter-img {
    border-radius: var(--border-radius);
  }
  .events__video_radius {
    min-height: 100%;
  }
  .events_filter-img:hover {
    border-radius: var(--border-radius);
  }
  .soc1al__img {
    max-width: 100%;
  }
  .soc1al__media-text {
    max-width: 400px;
    font-size: var(--font-size-main);
  }
  .cards__content {
    padding: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .cards__body_first::after,
  .cards__body_second::after,
  .cards__body_third::after,
  .cards__body_fourth::after,
  .cards__body_fifth::after,
  .cards__body_sixth::after {
    width: 40%;
  }
  .soc1al__media-text {
    max-width: 100%;
    font-size: var(--font-size-big);
  }
  .modal__pay-text {
    width: 100%;
    text-align: justify;
  }
  .modal__header-description {
    padding: 15px 25px 0px 25px;
  }
  .modal__body-description {
    padding: 0px 25px 0px 25px;
  }
  .modal__body-description-text {
    max-width: 100%;
    text-align: justify;
  }
  .modal__body-description-text-second {
    max-width: 100%;
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .cards__body_first::after,
  .cards__body_second::after,
  .cards__body_third::after,
  .cards__body_fourth::after,
  .cards__body_fifth::after,
  .cards__body_sixth::after {
    width: 40%;
    right: 20px;
    background-size: 180px;
  }
  .about__img {
    height: 400px;
  }
  .testimonials__slider .slick-dots button,
  .teachers__slider .slick-dots button {
    width: 12px;
    height: 12px;
  }
  .advantages__content {
    padding: 20px;
  }
  .soc1al__media-text {
    max-width: 470px;
  }
  .help__row {
    padding: 21px 0px 42px;
  }
}

@media screen and (max-width: 576px) {
  .cards__body_first::after,
  .cards__body_second::after,
  .cards__body_third::after,
  .cards__body_fourth::after,
  .cards__body_fifth::after,
  .cards__body_sixth::after {
    right: 0px;
  }
  .cards__content {
    padding: 10px;
  }
  .product__application {
    width: 100%;
  }
  .product__application-lable {
    padding: 7px 4px;
  }
  .modal__content {
    padding: 10px;
  }
  .modal__title {
    max-width: 100%;
  }
  .modal-header .modal__close {
    margin-left: 20px;
  }
  .modal__text {
    max-width: 100%;
    text-align: justify;
  }
  .modalApp__body-text {
    max-width: 100%;
    text-align: justify !important;
  }
  .about__img {
    border-radius: 40px;
    width: 100%;
    height: 300px;
  }
  .history__text-title {
    text-align: justify;
  }
  .advantages__title {
    max-width: 100%;
  }
  .events__text {
    text-align: justify;
  }
  .events__video::after {
    background-size: 90px;
    background-position: 50%;
  }
  .events__img-block:hover .events_filter-img {
    display: none;
  }
  .events__img-block:hover .events__search {
    display: none;
  }
  .events_filter-img-top:hover {
    display: none;
  }
  .events_filter-img-bottom:hover {
    display: none;
  }
  #modal .modal-content {
    padding: 80px;
  }
  .testimonials__slider .slick-dots {
    gap: 8px;
  }
  .help__text {
    max-width: 100%;
    text-align: justify;
  }
  .questions__text {
    max-width: 100%;
    text-align: justify;
  }
  .questions__content {
    padding-left: 10px;
  }
  .teachers__card::before {
    display: none;
  }
  .teachers__text {
    max-width: 100%;
  }
  .teachers__card {
    padding: 12px 30px 30px 10px;
    max-width: 340px;
  }
  .soc1al__media-text {
    padding: 20px 15px 20px 15px;
  }
  .soc1al__img {
    border-radius: 20px;
    max-width: 100%;
    min-height: 100%;
  }
  .soc1al__media-text {
    max-width: 445px;
  }
  .fixed__btn {
    width: 60px;
    height: 60px;
  }
  .fixed {
    bottom: 20px;
    right: 20px;
  }
  .fixed__btn img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 465px) {
  .cards__text,
  .cards__subtitle {
    max-width: 100%;
  }

  .cards__body_first::after,
  .cards__body_second::after,
  .cards__body_third::after,
  .cards__body_fourth::after,
  .cards__body_fifth::after,
  .cards__body_sixth::after {
    top: 60px;
    opacity: 0.5;
    background-size: 150px;
  }
  .cards__body_first::after,
  .cards__body_second::after,
  .cards__body_third::after,
  .cards__body_fourth::after,
  .cards__body_fifth::after,
  .cards__body_sixth::after {
    /* display: none; */
  }
}

@media screen and (max-width: 440px) {
  .modal__header-description {
    padding: 10px 20px 10px 15px;
  }
  .modal__body-description-text {
    max-width: 100%;
    text-align: left;
  }
  .modal__footer {
    padding: 16px;
  }
  .modal__footer-text {
    max-width: 100%;
    text-align: justify;
  }
  .about__text,
  .cards__desc {
    text-align: justify;
  }
  #modal .modal-content {
    padding: 50px;
  }
  .company__img {
    width: 120px;
  }
  .soc1al__media-text {
    padding: 20px 15px 20px 15px;
  }
  .soc1al__media-text {
    max-width: 380px;
  }
  .help__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 397px) {
  .cards__body_first::after,
  .cards__body_second::after,
  .cards__body_third::after,
  .cards__body_fourth::after,
  .cards__body_fifth::after,
  .cards__body_sixth::after {
    opacity: 0.4;
  }
  .help__title {
    font-size: 25px;
  }
}

@media screen and (max-width: 381px) {
  .set__card-slider {
    height: 680px;
  }
  .set__img-wrapper {
    height: 170px;
  }
  .help__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 368px) {
  .cards__body_first::after,
  .cards__body_second::after,
  .cards__body_third::after,
  .cards__body_fourth::after,
  .cards__body_fifth::after,
  .cards__body_sixth::after {
    width: 50%;
  }
  .help__title {
    font-size: 23px;
  }
}

@media screen and (max-width: 354px) {
  .help__title {
    font-size: 22px;
  }
}
@media screen and (max-width: 340px) {
  .help__title {
    font-size: 21px;
  }
}
