@font-face {
  font-family: "Gilroy";
  src: url(../font/gilroy/Gilroy-Heavy.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/gilroy/Gilroy-Extrabold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/gilroy/Gilroy-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/gilroy/Gilroy-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/gilroy/Gilroy-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/gilroy/Gilroy-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/gilroy/Gilroy-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/gilroy/Gilroy-Thin.woff2) format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(../font/bebas/BebasNeueBold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(../font/bebas/BebasNeueRegular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(../font/bebas/BebasNeueLight.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(../font/bebas/BebasNeue-Thin.woff2) format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url(../font/bebas/BebasNeueBook.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  height: 100%;
  overflow: auto;
}
body {
  height: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

input,
select,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

svg *[fill] {
  fill: currentColor;
}

.footer__site-dev-icon {
  margin-bottom: 3px;
}
.footer__site-dev-icon *[fill] {
  fill: #ffa500;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-accent: #337eff;
  --color-content: #202940;
  --color-bg-menu: #202940e6;
  --color-slider-bg: #370563;
  --color-hover-img: #2029406d;
  --color-lightBlue: #f6f7fb;
  --color-white: #fff;
  --color-lightGray: #ced6ea;
  --color-logoGrad: #4c8ae6;
  --color-gray: #798298;
  --color-lightGray-second: #9095a1;
  --color-firstCard: #fdedd5;
  --color-secondCard: #fde4f9;
  --color-thirdCard: #b5e0e9;
  --color-fourthCard: #f7f391;
  --color-fifthCard: #baeecf;
  --color-sixthCard: #c6c6c6;
  --color-seventhCard: #f4f4f4;
  --color-seventhCard: #f4f4f4;
  --color-eighthCard: #c3c2f6;
  --color-ninthCard: #f3ba77;
  --color-tenthCard: #cdf0ff;
  --color-eleventhCard: #dbffbf;
  --color-cardPill: #ffb8f4;
  --color-sliderCard-first: rgba(208, 230, 235, 1);
  --color-sliderCard-second: rgba(246, 246, 188, 1);
  --color-sliderCard-third: rgba(211, 193, 250, 1);
  --color-sliderCard-fourth: rgba(255, 201, 226, 1);

  --color-gradient: radial-gradient(circle at center, #3d43b5, transparent);

  --border: 1px solid var(--color-accent);
  --border-radius: 32px;
  --border-radius-small: 16px;
  --border-radius-large: 64px;
  --border-radiusWebCard: 20px;
  --border-radiusAccordion: 32px 0 0 32px;

  --font-family-base: "Gilroy";
  --font-family-common: "Bebas Neue";

  --h1-font-size: clamp(32px, 23.6522px + 2.6087vi, 56px);
  --h2-font-size: clamp(30px, 23.7391px + 1.9565vi, 48px);
  --h3-font-size: clamp(25px, 19.7826px + 1.6304vi, 40px);
  --h4-font-size: clamp(22px, 21.3043px + 0.2174vi, 24px);

  --h1-new-font-size: clamp(34px, 29.1304px + 1.5217vi, 48px);
  --h2-new-font-size: clamp(30px, 25.8261px + 1.3043vi, 42px);
  --h3-new-font-size: clamp(26px, 22.5217px + 1.087vi, 36px);
  --h4-new-font-size: clamp(18px, 15.913px + 0.6522vi, 24px);

  --font-size-common: clamp(24px, 21.913px + 0.6522vi, 30px);
  --font-size-big: clamp(18px, 15.913px + 0.6522vi, 24px);
  --font-size-extra-small: clamp(12px, 10.6087px + 0.4348vi, 16px);

  --font-size-for-list: clamp(16px, 14.6087px + 0.4348vi, 20px);

  --font-size-for-button: clamp(16px, 15.3043px + 0.2174vi, 18px);

  --transition-duration: 0.3s;

  --section-gap: 100px;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-main);
  color: var(--color-content);
  background-color: var(--color-lightBlue);
  gap: var(--section-gap);
}

.decor {
  width: 207px;
  height: 8px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 1);
}

/* headings */
.h1 {
  font-size: var(--h1-font-size);
}
.h1_new {
  font-size: var(--h1-new-font-size);
}
.h2 {
  font-size: var(--h2-font-size);
}
.h2_new {
  font-size: var(--h2-new-font-size);
  font-weight: 700;
}
.h3 {
  font-size: var(--h3-font-size);
}
.h3_new {
  font-size: var(--h3-new-font-size);
  font-weight: 800;
}
.h4 {
  font-size: var(--h4-font-size);
}
.h4_new {
  font-size: var(--h4-new-font-size);
  font-weight: 700;
}

/* header */
.header__nav-label {
  font-family: var(--font-family-common);
  font-size: 24px;
  color: var(--color-content);
  width: 108px;
}
.header__nav-link {
  color: var(--color-content);
  position: relative;
  font-size: 16px;
}
.header__nav-menu-link {
  font-size: 16px;
  cursor: pointer;
}
.header__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  border-radius: var(--border-radius);
  background-color: var(--color-accent);
  transition: var(--transition-duration);
}
.header__nav-link:hover::after {
  width: 100%;
}
.header__nav-link:hover {
  color: var(--color-accent);
}
.navbar-nav .nav-link.active {
  color: var(--color-accent);
}
.header__offcanvas-wrapper {
  background-color: var(--color-bg-menu);
}
.header__nav-menu-link {
  color: var(--color-lightBlue);
}
.header__nav-menu-link:hover {
  color: var(--color-accent);
}

/* promo */
.promo__title {
  max-width: 450px;
  margin-bottom: 16px;
}
.promo__desc {
  max-width: 645px;
}
.promo__desc-text {
  font-size: var(--font-size-big);
  margin-bottom: 32px;
}
.promo__link {
  font-size: var(--font-size-for-button);
}
.promo__btn-wrapper {
  gap: 15px;
}
.promo__img-wrapper {
  position: relative;
}
.promo__img-man {
  border-radius: 90px;
  position: absolute;
  top: 58px;
  left: 40px;
  z-index: -1;
  width: 436px;
}

/* start */
.start__wrapper {
  padding: 45px 25px;
  border-radius: var(--border-radius);
  /* border: 1px solid rgba(255, 255, 255, 1); */
  /* background-color: rgba(255, 255, 255, 0.57); */
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05); */

  /* background-color: rgba(255, 255, 255, 0.28); */
  /* border: 1px solid rgba(255, 255, 255, 1); */
  /* border: 1px solid rgba(255, 255, 255, 1); */
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05); */
  /* box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.13); */

  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.48);
  /* background-color: rgba(255, 255, 255, 0.28); */

  border: 1px solid #fff;
}
.start__inner-item {
  max-width: 285px;
  gap: 28px;
}
.start__item-img {
  width: 70px;
  height: 70px;
}
.start__item-desc {
  gap: 12px;
}
.start__item-text {
  font-size: var(--font-size-big);
}

/* description */
.description__title,
.description__text {
  max-width: 625px;
}
.description__title {
  font-weight: 800;
  margin-bottom: 12px;
}
.title-span {
  color: #005dfd;
}
.description__text {
  font-size: var(--font-size-big);
  margin-bottom: 44px;
}
.description__item-title {
  font-size: clamp(18px, 15.913px + 0.6522vi, 24px);
}
.description__item-text {
  font-size: var(--font-size-for-list);
  max-width: 501px;
}
.description__list {
  gap: 17px;
}
.description__item {
  gap: 30px;
}
.description__decor-img {
  width: 70px;
  height: 70px;
}
.description__item-desc {
  gap: 6px;
}
.description__img {
  border-radius: 100px;
  max-width: 656px;
}

/* grid */
.grid__header-wrapper {
  margin-bottom: 40px;
}
.grid__title {
  font-weight: 800;
}
.grid__wrapper {
  display: grid;
  grid-template-columns: 492px 444px 353px;
  gap: 10px;
}
.grid__item-wrapper-first,
.grid__item-wrapper-second,
.grid__item-wrapper-third {
  gap: 15px;
}

/* school */
.school__title {
  font-weight: 800;
  margin-bottom: 43px;
  max-width: 572px;
}
.school__img {
  border-radius: var(--border-radius-large);
  max-width: 639px;
}
.school__wrapper {
  max-width: 625px;
}
.school__list {
  font-size: var(--font-size-for-list);
  gap: 21px;
}
.school__item {
  gap: 31px;
}
.school__decor-img {
  width: 70px;
  height: 70px;
}
.scholl__text {
  max-width: 501px;
}
.school__video {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100px;
  max-width: 625px;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
}
.school__video::after {
  content: "";
  background-image: url(../img/events/left_block/youtube2.svg);
  background-repeat: no-repeat;
  width: 134px;
  height: 136px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}
#modal.active {
  opacity: 1;
  visibility: visible;
}
#modal .modal-video-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
  max-height: 1200px;
  padding: 20px;
  border-radius: 10px;
}
.modal-close {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 101%;
  top: -3%;
  cursor: pointer;
}
.modal-close::before,
.modal-close::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 13px;
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}
.modal-close:hover::before,
.modal-close:hover::after {
  background-color: rgba(255, 255, 255, 0.603);
}

/* course */
.course__header {
  margin-bottom: 40px;
}
.course__wrapper,
.course__wrapper-first,
.course__wrapper-second {
  gap: 26px;
}
.course__inner-item {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 30px 27px;
}
.course__inner-item-first {
  background-color: rgba(211, 193, 250, 1);
}
.course__inner-item-second {
  background-color: rgba(255, 201, 226, 1);
}
.course__inner-item-third {
  background-color: rgba(253, 207, 196, 1);
}
.course__inner-item-fourth {
  background-color: rgba(207, 234, 252, 1);
}
.course__subtitle-first,
.course__subtitle-second,
.course__subtitle-third,
.course__subtitle-fourth {
  font-weight: 800;
  margin-bottom: 12px;
}
.course__subtitle-first {
  color: rgba(77, 18, 204, 1);
}
.course__subtitle-second {
  color: rgba(227, 22, 118, 1);
}
.course__subtitle-third {
  color: rgba(239, 84, 46, 1);
}
.course__subtitle-fourth {
  color: rgba(0, 134, 209, 1);
}
.course__text-first,
.course__text-second,
.course__text-third,
.course__text-fourth {
  font-size: var(--font-size-for-list);
}
.course__text-first,
.course__text-fourth {
  max-width: 290px;
}
.course__text-second,
.course__text-third {
  max-width: 465px;
}
.course__img-wrapper_abs,
.course__img-wrapper_abs-second {
  position: relative;
  width: 151px;
}
.course__text-first,
.course__text-fourth {
  height: 141px;
}
.course__img-wrapper_abs::after,
.course__img-wrapper_abs-second::after {
  content: "";
  background-repeat: no-repeat;
  width: 151px;
  height: 151px;
  position: absolute;
  left: 10px;
}
.course__img-wrapper_abs::after {
  background-image: url(../imgWEB/course/1.svg);
  bottom: -55px;
}
.course__img-wrapper_abs-second::after {
  background-image: url(../imgWEB/course/4.svg);
  bottom: -40px;
}

/* specialty lesson*/
.specialty__row {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 25px;
  border-radius: var(--border-radius);
  background-color: rgba(255, 255, 255, 0.48);
  border: 1px solid #fff;
}
.specialty__header,
.lesson__header {
  margin-bottom: 40px;
}
.specialty__title {
  font-size: clamp(30px, 23.7391px + 1.9565vi, 48px);
}
.specialty__wrapper {
  max-width: 625px;
}
.specialty__img-wrapper {
  max-width: 617px;
}
.specialty__list {
  gap: 17px;
}
.specialty__item {
  gap: 31px;
}
.specialty__img {
  width: 70px;
  height: 70px;
}
.specialty__item-description {
  font-size: var(--font-size-for-list);
  max-width: 487px;
}
.specialty__subtitle {
  font-weight: 800;
}
.specialty__videos-wrapper,
.specialty__videos-inner {
  gap: 8px;
}
.specialty__video {
  position: relative;
}
.specialty__video::after {
  content: "";
  background-image: url(../imgWEB/specialty/youtube.svg);
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.specialty__subtitle {
  font-weight: 800;
  margin-bottom: 20px;
}

/* slider */
.slider__header {
  margin-bottom: 40px;
}
.slider__title {
  font-weight: 800;
  max-width: 1032px;
  margin-bottom: 12px;
}
.slider__text {
  font-size: var(--font-size-big);
  max-width: 788px;
}

/* .slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
  gap: 22px;
} */

/* lesson */
.lesson__content,
.lesson__content-second,
.lesson__content-third,
.lesson__content-fourth {
  border-radius: var(--border-radiusWebCard);
  padding: 32px 46px 32px 46px;
}
.lesson__content {
  background-color: var(--color-sliderCard-first);
}
.lesson__content-second {
  background-color: var(--color-sliderCard-second);
}
.lesson__content-third {
  background-color: var(--color-sliderCard-third);
}
.lesson__content-fourth {
  background-color: var(--color-sliderCard-fourth);
}
.lesson__img,
.lesson__img-second,
.lesson__img-third,
.lesson__img-fourth {
  border-radius: var(--border-radiusWebCard);
}
.lesson__img {
  max-width: 586px;
}
.lesson__img-fourth {
  max-width: 547px;
}
.lesson__img-second {
  max-width: 584px;
}
.lesson__img-third {
  max-width: 588px;
}
.lesson__span,
.lesson__span_second,
.lesson__span_third,
.lesson__span_fourth {
  font-weight: 800;
  font-size: var(--h3-new-font-size);
  margin-bottom: 28px;
  display: inline-block;
}
.lesson__span {
  margin-top: 7px;
}
.lesson__span_second {
  margin-top: 15px;
}
.lesson__span_third {
  margin-top: 12px;
}
.lesson__span_fourth {
  margin-top: 16px;
}
.lesson__subtitle {
  margin-bottom: 13px !important;
  max-width: 546px;
}
.lesson__list {
  font-size: var(--font-size-for-button);
  max-width: 546px;
}
.lesson__item {
  margin-bottom: 10px;
}
.lesson__wrapper {
  position: relative;
}
.lesson__wrapper .slick-arrow {
  position: absolute;
  top: 165px;
  bottom: 165px;
  /* z-index: 0; */
  font-size: 0;
  width: 70px;
  height: 70px;
}
.lesson__wrapper .slick-arrow.slick-prev {
  z-index: 1;
  left: -25px;
  background: url(../imgWEB/slider/arrow-left.svg) 0 0 / 100% no-repeat;
}
.lesson__wrapper .slick-arrow.slick-next {
  right: -20px;
  background: url(../imgWEB/slider/arrow-right.svg) 0 0 / 100% no-repeat;
}
.slick-list {
  overflow: hidden;
}

/* questions */
.questions__row {
  padding: 25px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.48);
  border: 1px solid #fff;
}
.questions__content {
  gap: 25px;
  max-width: 860px;
}
.questions__title {
  font-size: clamp(26px, 18.3478px + 2.3913vi, 48px);
  font-weight: 800;
}
.questions__list {
  font-size: clamp(18px, 15.913px + 0.6522vi, 24px);
  gap: 10px;
}
.questions__button {
  font-size: clamp(18px, 15.913px + 0.6522vi, 24px);
  padding: 24px;
  max-width: 462px;
}
.questions__img {
  max-width: 300px;
  max-height: 300px;
}

/* accordion */
.accordion__header {
  --bs-accordion-border-width: 0;
}
.accordion__list,
.accordion__item {
  gap: 12px;
}
.accordion__list {
  margin-top: 60px;
  font-size: var(--font-size-big);
  margin-bottom: 40px;
}
.accordion__list-item {
  border-top: 1px solid rgba(187, 187, 187, 1);
  border-bottom: 1px solid rgba(187, 187, 187, 1);
  border-left: none;
  border-right: none;
}

.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-radius: 32px 32px 0 0 !important;
}
.accordion-item:last-of-type > .accordion-header .accordion-button {
  border-radius: 0 0 32px 32px !important;
}
.accordion__list-item:first-of-type {
  border-top: none;
}
.accordion__list-item:nth-of-type(2) {
  border-top: none;
}
.accordion__list-item:last-of-type {
  border-bottom: none;
  border-top: none;
}
.accordion__button {
  padding: 20px 30px 20px 30px;
  gap: 22px;
}
.accordion__button:focus,
.accordion__button:active {
  box-shadow: none;
}

.accordion__list-item:first-of-type > .accordion-header .accordion-button,
.accordion__list-item:nth-of-type(2) > .accordion-header .accordion-button,
.accordion__list-item:last-of-type > .accordion-header .accordion-button {
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.accordion-item:first-of-type {
  border-radius: 32px 32px 0 0 !important;
}
.accordion-item:last-of-type {
  border-radius: 0 0 32px 32px !important;
}

.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-radius: 0 0 32px 32px !important;
}
.accordion-item:last-of-type > .accordion-header .accordion-button {
  border-radius: 0px !important;
}

.accordion__item-text-wrapper {
  gap: 9px;
}
.accordion__item-description,
.accordion__body-text,
.accordion__body-item {
  font-size: var(--font-size-for-list);
}
.accordion__body {
  padding: 21px 29px 21px 29px;
  gap: 21px;
  border-top: 1px solid rgba(187, 187, 187, 1);
}

.accordion__body-text,
.accordion__body-item {
  max-width: 800px;
}
.accordion__img {
  max-width: 808px;
  border-radius: var(--border-radius);
}
.accordion__video {
  position: relative;
}
.accordion__video::after {
  content: "";
  background-image: url(../img/events/left_block/youtube2.svg);
  background-repeat: no-repeat;
  width: 134px;
  height: 136px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* certificate */
.certificate__row {
  background: linear-gradient(140deg, rgba(7, 52, 130, 1) 5%, rgba(0, 0, 0, 1));
  padding: 32px 40px;
  border-radius: var(--border-radius);
  border: 2px solid rgb(112 162 249 / 98%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.certificate__header {
  gap: 40px;
}
.certificate__text {
  font-size: var(--font-size-big);
  max-width: 673px;
}
.certificate__img {
  max-width: 273px;
  max-height: 359px;
}

/* history */
.history__header {
  gap: 12px;
}
.history__title {
  max-width: 714px;
}
.history__text {
  font-size: var(--font-size-big);
  margin-bottom: 40px;
}
.history__img_radius-left {
  border-radius: 32px 0 0 32px;
}
.history__img_radius-right {
  max-height: 223px;
  border-radius: 0 32px 32px 0;
}
.history__video {
  position: relative;
}
.history__video::after {
  content: "";
  background-image: url(../imgWEB/history/youtube.svg);
  background-repeat: no-repeat;
  width: 87px;
  height: 89px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* testimonials */
.testimonials__row {
  background: linear-gradient(140deg, rgba(7, 52, 130, 1) 5%, rgba(0, 0, 0, 1));
  border-radius: var(--border-radius);
  padding: 25px;
  border: 2px solid rgb(112 162 249 / 98%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.testimonials__header {
  margin-bottom: 40px;
}
.testimonials__text {
  font-size: var(--font-size-big);
  margin-top: 31px;
}
.testimonials__slider {
  position: relative;
}
.testimonials__slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 0;
}
.testimonials__slider .slick-prev {
  left: 0;
}
.testimonials__slider .slick-next {
  right: 0;
}
.testimonials__slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0;
}
.testimonials__slider .slick-dots li {
  list-style: none;
}
.testimonials__slider .slick-dots button {
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #798298;
}
.testimonials__slider .slick-dots li.slick-active button {
  background-color: #fff;
}
.slick-list {
  overflow: hidden;
}
.slick-dots {
  margin: 0;
  margin-top: 35px;
}
.slick-track {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

/* teacher */
.teacher__header {
  margin-bottom: 40px;
}
.teacher__content {
  padding: 25px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.48);
  border: 1px solid #fff;
}
.teacher__description {
  gap: 40px;
}
.teacher__list {
  gap: 20px;
}
.teacher__item {
  gap: 17px;
}
.teacher__item-img {
  width: 16px;
  height: 28px;
}
.teacher__item-text {
  font-size: var(--font-size-for-list);
  max-width: 682px;
}
.teacher__img {
  border-radius: var(--border-radius);
  max-width: 511px;
}

/* product */
.product__row {
  gap: 40px;
}
.product__content-first,
.product__content-second {
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 40px;
}
.product__content-first {
  background: linear-gradient(140deg, rgba(7, 52, 130, 1) 5%, rgba(0, 0, 0, 1));
}
.product__content-second {
  background: linear-gradient(
    140deg,
    rgba(170, 6, 124, 1) 5%,
    rgba(0, 0, 0, 1)
  );
  border: 1px solid rgba(255, 255, 255, 1);
}
.product__title {
  margin-bottom: 12px;
}
.product__list {
  gap: 10px;
}
.product__item {
  font-size: var(--font-size-big);
}
.product__card {
  max-width: 386px;
  padding: 25px;
  border-radius: var(--border-radius);
}
.product__card-img-first {
  width: 74px;
  height: 74px;
  margin-bottom: 40px;
}
.product__card-img-second {
  width: 67px;
  height: 74px;
  margin-bottom: 40px;
}
.product__card-img-third {
  width: 74px;
  height: 65px;
  margin-bottom: 40px;
}
.product__card-img-fourth {
  width: 72px;
  height: 74px;
  margin-bottom: 40px;
}
.product__card-img-fifth {
  width: 74px;
  height: 74px;
  margin-bottom: 40px;
}
.product__card-img-sixth {
  width: 62px;
  height: 74px;
  margin-bottom: 40px;
}
.product__card-title {
  margin-bottom: 6px;
}
.product__card-text,
.product__card-title {
  color: rgba(3, 31, 78, 1);
}
.product__card-title_color,
.product__card-text_color {
  color: rgba(73, 3, 54, 1);
}
.product__card-text_color,
.product__card-text {
  font-size: var(--font-size-for-list);
}
.product__pay {
  border-radius: 32px 0 0 32px;
  padding: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.58);
  border: 1px solid #fff;
}
.product__pay-title {
  max-width: 625px;
  font-weight: 800;
  margin-bottom: 12px;
}
.product__pay-text {
  font-size: var(--font-size-big);
  margin-bottom: 40px;
}
.product__pay-list {
  gap: 40px;
  max-width: 694px;
}
.product__pay-item {
  gap: 31px;
}
.product__text-wrapper {
  gap: 4px;
}
.product__text-title {
  max-width: 524px;
  font-size: clamp(18px, 15.913px + 0.6522vi, 24px);
}
.product__text-desc {
  font-size: var(--font-size-for-list);
  max-width: 487px;
}
.product__application {
  background-color: rgba(24, 31, 48, 1);
  box-shadow: 0 0 3.6px rgba(0, 0, 0, 0.42);
  padding: 40px;
  border-radius: 0 32px 32px 0;
  gap: 28px;
}
.product__application-title {
  font-size: clamp(24px, 21.913px + 0.6522vi, 30px);
  max-width: 462px;
}
.product__application-text,
.product__sos1al-text {
  font-size: clamp(16px, 13.2174px + 0.8696vi, 24px);
  color: rgba(133, 134, 137, 1);
}
.product__application-lable {
  border-color: #444;
  padding: 10px 7px;
  font-size: clamp(14px, 12.6087px + 0.4348vi, 18px);
}
.product__form {
  gap: 28px;
}
.product__form-label_font {
  font-size: clamp(12px, 10.6087px + 0.4348vi, 16px);
}
.product__form-input {
  padding: 15px 23px;
  font-size: clamp(14px, 12.6087px + 0.4348vi, 18px);
  border-radius: 10px;
}
.form__check {
  gap: 13px;
}
.product__form-btn {
  padding: 24px;
  font-size: clamp(18px, 17.3043px + 0.2174vi, 20px);
  border-radius: 500px;
}
.product__sos1al {
  gap: 28px;
}
.product__sos1al-links {
  gap: 16px;
}
/* loader wrapper*/
#productForm {
  position: relative;
}
.product__form-loading-wrapper {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #ffffff00;
  z-index: 2;
}

/* result */
.result__row {
  background-color: rgba(229, 229, 231, 1);
  padding: 25px;
  box-shadow: 16px 26px 9.8px 0 rgba(0, 0, 0, 0.41);
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.result__header {
  margin-bottom: 40px;
}
.result__title {
  max-width: 774px;
  font-size: clamp(26px, 22.5217px + 1.087vi, 36px);
  font-weight: 800;
}
.result__title-wrapper {
  background-color: rgba(202, 201, 206, 1);
  gap: 40px;
  border-radius: 5px;
}
.result__subtitle {
  font-size: clamp(18px, 15.913px + 0.6522vi, 24px);
  font-weight: 800;
}
.result__title-desc {
  gap: 17px;
}
.result__img {
  width: 164px;
  height: 165px;
  object-fit: cover;
  object-position: -80px 0px;
  border: 6px solid rgba(255, 255, 255, 1);
}
.result__img_square {
  width: 16px;
  height: 28px;
}
.result__desc-subtitle,
.result__desc-inner {
  gap: 17px;
}
.result__desc-text_fz {
  font-size: var(--font-size-big);
}
.result__desc-text,
.result__desc-list {
  font-size: var(--font-size-for-list);
}
.result__desc-wrapper {
  gap: 40px;
  margin-top: 40px;
}
.result__desc-list {
  margin-left: 33px;
}
.result__desc-img {
  width: 16px;
  height: 16px;
  padding: 6px 0;
}

/* footer */
.footer_gray {
  color: var(--color-gray);
}
.footer__title {
  max-width: 227px;
  margin-bottom: 68px;
}
.footer__span-wrapper,
.footer__list {
  font-size: 16px;
}
.footer__title-text {
  font-size: 26px;
  font-family: var(--font-family-common);
  color: var(--color-content);
}
.footer__text {
  font-size: var(--font-size-small);
}
.footer__item:first-child {
  margin-bottom: 8px;
}
.footer__link {
  color: var(--color-content);
}
.footer__link-w {
  width: 237px;
  display: inline-block;
  color: var(--color-content);
}
.footer__link:hover,
.footer__link-w:hover {
  color: var(--color-accent);
}
.footer__form-input {
  padding-block: 16px;
}
.footer__frame {
  padding-block: 16px;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius-small);
}

.footer__mail,
.footer__tel {
  text-decoration: underline;
}
/* sos1al */
.sos1al__row {
  border-radius: var(--border-radius);
  padding: 25px;
  gap: 25px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.48);
  border: 1px solid #fff;
}
.sos1al__content {
  gap: 25px;
  max-width: 837px;
}
.sos1al__title {
  font-weight: 800;
  font-size: clamp(26px, 18.3478px + 2.3913vi, 48px);
}
.sos1al__text {
  font-size: clamp(18px, 15.913px + 0.6522vi, 24px);
}
.sos1al__soc1als {
  gap: 28px;
  max-width: 286px;
}
.sos1al__soc1al-img {
  width: 50px;
  height: 50px;
}

/* loader wrapper*/
.modal__footer {
  position: relative;
}
.modal__footer-loader-wrapper {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #ffffff00;
  z-index: 2;
}
.modal__footer-btn-text,
.modal__footer-label-text {
  cursor: pointer;
}
/* modal */
.modal__body,
.modal__header {
  padding: 10px;
}
.modal__title {
  font-size: var(--font-size-big);
}
.modal__close {
  margin-top: 0px;
}
.modal__text {
  font-size: var(--font-size-for-list);
}
.modal__close {
  margin-top: 5px;
}

/* button */
.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.fixed__btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #003cd2;
  padding: 10px 5px 9px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animate 2s linear infinite;
  transition: all 200ms ease-out;
  border: none;
  z-index: 3;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 #337eff, 0 0 0 rgba(51, 126, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 0 13.62667px rgba(51, 126, 255, 0),
      0 0 0 6.81333px rgba(51, 126, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 0 27.25333px rgba(51, 126, 255, 0),
      0 0 0 1.62667px rgba(51, 126, 255, 0.7);
  }
}

.fixed__sos1al {
  padding-right: 30px;
  padding-top: 5px;
}
.fixed__tooltip {
  width: 193px;
  max-height: 120px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: -51px;
  right: 23px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: all 200ms ease-out;
  z-index: 1;
  cursor: default;
  display: none;
}

.fixed__text {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 9px;
  margin-top: 0;
}
.fixed__list {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}
.fixed__close {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #003cd2;
  padding: 10px 8px 9px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: -4px 1px 4px 0px rgba(0, 0, 0, 0.45);
}
.fixed__close-wrapper {
  display: none;
  z-index: 2;
}

/* Gradient */
.gradient-circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.4;
  z-index: -1;
  filter: blur(46px);
  width: 550px;
  height: 550px;
}

.start .container,
.description .container,
.school .container,
.course .container,
.specialty .container,
.chat .container,
.slider .container,
.lesson .container,
.questions .container,
.certificate .container,
.history .container,
.testimonials .container,
.teacher .container,
.accordion .container,
.product__content-first,
.product__content-second,
.product__content-third,
/* .gradient-circle_product-first .container,
.gradient-circle_product-second .container,
.gradient-circle_product-third .container, */
.result .container {
  position: relative;
}
.gradient-circle_start,
.gradient-circle_description,
.gradient-circle_school,
.gradient-circle_course,
.gradient-circle_specialty,
.gradient-circle_grid,
.gradient-circle_slider,
.gradient-circle_lesson,
.gradient-circle_questions,
.gradient-circle_certificate,
.gradient-circle_history,
.gradient-circle_testimonials,
.gradient-circle_teacher,
.gradient-circle_product-content-first,
.gradient-circle_product-content-second,
.gradient-circle_product-content-third,
.gradient-circle_product,
.gradient-circle_result {
  background: var(--color-gradient);
}
.gradient-circle_start {
  top: -55%;
  left: -10%;
}
.gradient-circle_description {
  bottom: -20%;
  right: -10%;
}
.gradient-circle_school {
  bottom: -30%;
  left: -10%;
}
.gradient-circle_course {
  bottom: -40%;
  right: -10%;
}
.gradient-circle_specialty {
  bottom: -40%;
  left: -10%;
}
.gradient-circle_grid {
  bottom: -10%;
  right: -10%;
}
.gradient-circle_slider {
  top: 45%;
  left: 0%;
}
.gradient-circle_lesson {
  bottom: -40%;
  right: -10%;
}

.gradient-circle_questions {
  bottom: -40%;
  left: -10%;
}

.gradient-circle_certificate {
  bottom: -35%;
  left: -10%;
}
.gradient-circle_history {
  bottom: -60%;
  right: -10%;
}
.gradient-circle_testimonials {
  bottom: -60%;
  left: -10%;
}
.gradient-circle_teacher {
  bottom: -20%;
  right: -10%;
}
.gradient-circle_product-content-first {
  bottom: -20%;
  left: -10%;
}
.gradient-circle_product-content-second {
  bottom: -20%;
  right: -10%;
}
.gradient-circle_product-content-third {
  bottom: -20%;
  left: -10%;
}
.gradient-circle_result {
  bottom: -30%;
  right: -10%;
}

/* Chat */
.chat__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  overflow: hidden;
}
.chat__items_collapsed {
  height: 1450px;
}
.chat__items img {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}
.chat__items img:first-child {
  grid-row: span 3;
}
.chat__items img:nth-child(2) {
  grid-row: span 7;
}
.chat__items img:nth-child(3) {
  grid-row: span 4;
}
.chat__items img:nth-child(4) {
  grid-row: span 4;
}
.chat__items img:nth-child(5) {
  grid-row: span 7;
}
.chat__items img:nth-child(6) {
  grid-row: span 5;
}
.chat__items img:nth-child(7) {
  grid-row: span 7;
}
.chat__items img:nth-child(8) {
  grid-row: span 2;
}
.chat__items img:nth-child(9) {
  grid-row: span 7;
}
.chat__items img:nth-child(10) {
  grid-row: span 4;
}
.chat__items img:nth-child(11) {
  grid-row: span 7;
}

/* slider */
.slider__projects .slick-list {
  padding: 0 30px;
  overflow: visible;
}

.slider__projects .slick-slide {
  margin: 0 10px;
  /* max-width: 17vw; */
  box-sizing: border-box;
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
  overflow: visible;
}

.slider__projects img {
  width: 100%;
  display: block;
  margin: 0 auto;
  transition: transform 0.5s ease;
}
.slider__projects .slick-center img {
  height: auto;
}

.slider__projects .slick-slide:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.slider__projects .slick-slide.slick-center:before {
  opacity: 0;
}

.slider__projects .slick-slide:not(.slick-center):before {
  opacity: 1;
}

.slider__projects .slick-center {
  transform: scale(1.2);
  z-index: 1;
}

.slider .container {
  padding: 30px 0;
  overflow: hidden;
}

.slider__projects {
  position: relative;
}

.slider__projects .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* margin: -60px 0 0 0; */
  font-size: 0;
  width: 70px;
  height: 70px;
}
.slider__projects .slick-arrow.slick-prev {
  z-index: 1;
  left: 0px;
  background: url(../imgWEB/slider/arrow-left.svg) 0 0 / 100% no-repeat;
}
.slider__projects .slick-arrow.slick-next {
  right: 0px;
  background: url(../imgWEB/slider/arrow-right.svg) 0 0 / 100% no-repeat;
}

/* media */
@media screen and (max-width: 1400px) {
  .product__pay-list {
    gap: 20px;
  }
  .promo__img-absolute {
    position: absolute;
    top: -14px;
    right: 75px;
    width: 385px;
  }
  .description__title,
  .description__text,
  .description__item-text {
    max-width: 100%;
  }
  .description__img-wrapper {
    margin-top: 45px;
  }
  .description__img,
  .school__img {
    max-width: 100%;
  }
  .description__title,
  .description__text,
  .description__item-text {
    max-width: 100%;
  }
  .school__title {
    max-width: 100%;
  }
  .school__img-wrapper,
  .school__wrapper,
  .scholl__text,
  .school__list {
    max-width: 100%;
  }
  .school__wrapper {
    margin-bottom: 49px;
  }
  .lesson__desc,
  .lesson__desc_h {
    margin-bottom: 47px;
    height: 220px;
  }
  .lesson__subtitle,
  .lesson__list {
    max-width: 100%;
  }
  /* .slider__wrapper .slick-arrow.slick-prev {
    left: 110px;
  }
  .slider__wrapper .slick-arrow.slick-next {
    right: 120px;
  } */
  .questions__content {
    max-width: 800px;
  }
  .teacher__img {
    max-width: 420px;
  }
  .product__card {
    max-width: 100%;
  }
  .product__card-wrapper {
    gap: 39px;
  }
  .product__pay {
    margin-bottom: 40px;
  }
  .product__pay,
  .product__application {
    border-radius: var(--border-radius);
  }
  .product__pay-title,
  .product__pay-list,
  .product__text-title,
  .product__text-desc,
  .product__application-title {
    max-width: 100%;
  }
  .history__row {
    gap: 10px;
  }
  .history__text {
    margin-bottom: 30px;
  }
  .history__title {
    max-width: 100%;
  }
  .history__img_radius-left {
    border-radius: 0;
  }
  .history__img_radius-right {
    max-height: 100%;
    border-radius: 0;
  }
  .grid__wrapper {
    grid-template-columns: 565px 520px;
    column-gap: 28px;
  }
  .specialty__item-description {
    max-width: 100%;
  }
  .specialty__wrapper,
  .specialty__img-wrapper {
    max-width: 100%;
  }
  .specialty__subtitle {
    margin-top: 74px;
    text-align: center;
  }
  .course__img-wrapper_abs::after {
    left: -120px;
  }
  .course__img-wrapper_abs-second::after {
    left: -50px;
  }
  .course__img-wrapper_abs {
    max-width: 0px;
  }
  .course__img-wrapper_abs-second {
    max-width: 60px;
  }
  .lesson__wrapper .slick-arrow {
    top: 50%;
    bottom: 50%;
  }
  .sos1al__content {
    max-width: 690px;
  }
}
@media screen and (max-width: 1200px) {
  .chat__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .promo__img-absolute {
    position: absolute;
    top: -210px;
    right: -87px;
    width: 401px;
  }
  .start__inner {
    gap: 56px;
    max-width: 285px;
  }
  .school__title {
    max-width: 100%;
  }
  .school__img-wrapper,
  .school__wrapper,
  .scholl__text,
  .school__list {
    max-width: 100%;
  }
  .grid__wrapper {
    grid-template-columns: 480px 445px;
    column-gap: 28px;
  }
  .slider__title,
  .slider__text {
    max-width: 100%;
  }
  .lesson__desc,
  .lesson__desc_h {
    height: 250px;
  }
  .questions__content {
    max-width: 600px;
  }
  .teacher__item-text {
    max-width: 100%;
  }
  .teacher__img {
    margin-top: 40px;
    max-width: 100%;
  }
  .course__img-wrapper_abs::after,
  .course__img-wrapper_abs-second::after {
    display: none;
  }
  .course__img-wrapper_abs,
  .course__img-wrapper_abs-second {
    max-width: 100%;
  }
  .course__text-first,
  .course__text-fourth {
    height: 0px;
  }
  .course__img-first,
  .course__img-fourth {
    width: 197px;
    height: 147px;
  }
  .sos1al__content {
    max-width: 570px;
  }
}
@media screen and (max-width: 992px) {
  .specialty__videos-wrapper {
    padding-left: 0;
  }
  .promo__title,
  .promo__desc,
  .promo__desc-text {
    max-width: 100%;
  }
  .promo__img-man,
  .promo__img-absolute {
    position: static;
    width: 700px;
  }
  .promo__description {
    margin-bottom: 54px;
  }
  .start__wrapper {
    padding: 64px 39px;
    gap: 56px;
  }
  .start__inner {
    gap: 56px;
  }
  .school__title,
  .school__text {
    max-width: 100%;
  }
  .grid__wrapper {
    grid-template-columns: 348px 1fr;
  }
  .lesson__img {
    max-width: 460px;
  }
  .lesson__desc {
    height: 310px;
  }
  .lesson__desc_h {
    height: 295px;
  }
  .questions__content {
    max-width: 100%;
  }
  .questions__img-wrapper {
    position: relative;
  }
  .questions__img {
    position: absolute;
    bottom: 20px;
    left: 190%;
    opacity: 15%;
    z-index: -1;
  }
  .accordion__body-text,
  .accordion__body-item,
  .accordion__img {
    max-width: 100%;
  }
  .certificate__text {
    max-width: 100%;
  }
  .certificate__img-wrapper {
    margin-top: 40px;
  }
  .certificate__img {
    max-width: 100%;
    max-height: 100%;
  }
  .sos1al__content {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .grid__title {
    text-align: center;
  }
  .slider__projects .slick-center {
    transform: scale(1);
  }
  .promo__img-man,
  .promo__img-absolute {
    width: 520px;
  }
  .slider__content .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider__content .slick-slide img {
    max-width: 100%;
  }

  .slider__content .slick-slide.slick-current {
    transform: scaleX(1);
  }
  .slider__content .slick-dots {
    padding: 0;
    gap: 10px;
  }
  .grid__wrapper {
    grid-template-columns: 272px 252px;
  }
  .lesson__img {
    max-width: 360px;
  }
  .lesson__desc {
    height: 320px;
  }
  .lesson__desc_h {
    height: 305px;
  }
  .questions__img {
    bottom: 20px;
    left: 160%;
  }
  .accordion__video::after {
    background-size: 90px;
    background-position: 50%;
  }
}
@media screen and (max-width: 576px) {
  .chat__items {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .chat__items img {
    width: 70%;
  }
  .decor {
    width: 130px;
    height: 3px;
  }
  .promo__desc {
    text-align: justify;
  }
  .promo__img-man,
  .promo__img-absolute {
    width: 100%;
  }
  .promo__description {
    margin-top: 36px;
    margin-bottom: 0px;
  }
  .start__wrapper {
    padding: 14px;
    gap: 15px;
  }
  .start__inner {
    gap: 15px;
  }
  .start__inner-item {
    gap: 11px;
  }
  .start__item-img {
    width: 50px;
    height: 50px;
  }
  .start__item-desc {
    gap: 5px;
  }
  .school__item,
  .description__item {
    gap: 14px;
  }
  .school__decor-img {
    width: 50px;
    height: 50px;
  }
  .school__img-wrapper::after {
    top: 30%;
  }
  .description__decor-img {
    width: 50px;
    height: 50px;
  }
  .specialty__img {
    width: 50px;
    height: 50px;
  }
  .specialty__video::after {
    background-image: url(../imgWEB/specialty/yt.png);
    width: 56px;
    height: 57px;
  }
  .specialty__row {
    padding: 10px;
  }
  .slick-dots {
    margin-top: 40px;
  }

  .grid__wrapper {
    grid-template-columns: 1fr;
  }
  .lesson__img {
    max-width: 100%;
  }
  .lesson__content,
  .lesson__content-second,
  .lesson__content-third,
  .lesson__content-fourth {
    padding: 15px 20px 15px 20px;
  }
  .lesson__desc_h {
    height: 300px;
  }
  .questions__row {
    padding: 15px;
  }
  .questions__button {
    padding: 16px 24px;
    max-width: 100%;
  }
  .accordion__button {
    padding: 15px;
  }
  .accordion__item-img {
    width: 30px;
    height: 30px;
  }
  .accordion__img-wrapper::after,
  .school__video::after {
    background-size: 90px;
    background-position: 30px 60px;
    top: 35%;
  }
  .course__img-first {
    width: 80px;
    height: 80px;
  }
  .course__img-second {
    width: 54px;
    height: 59px;
  }
  .course__img-third {
    width: 68px;
    height: 59px;
  }
  .course__img-fourth {
    width: 80px;
    height: 80px;
  }
  .course__text-fourth {
    height: 90px;
  }
  .school__video {
    max-width: 100%;
  }
  .course__text-first,
  .course__text-second,
  .course__text-third,
  .course__text-fourth,
  .course__subtitle-first,
  .course__subtitle-second,
  .course__subtitle-third,
  .course__subtitle-fourth {
    max-width: 236px;
  }
  .slider__content .slick-arrow,
  .lesson__wrapper .slick-arrow {
    width: 32px;
    height: 32px;
  }
  .lesson__wrapper .slick-arrow.slick-prev {
    left: 0px;
  }
  .lesson__wrapper .slick-arrow.slick-next {
    right: 0px;
  }
  .slick-track {
    gap: 0px;
  }
  .slider__projects .slick-arrow {
    width: 32px;
    height: 32px;
  }
  .course__img-wrapper_abs-second,
  .course__img-wrapper_abs {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .certificate__row {
    padding: 15px;
  }
  .history__row {
    padding: 0;
    border: none;
    border-radius: 0;
  }
  .testimonials__row {
    padding: 15px;
  }
  .testimonials__slider {
    padding: 0;
  }
  .testimonials__slider .slick-dots button {
    width: 12px;
    height: 12px;
  }
  .teacher__content,
  .product__content-first,
  .product__content-second,
  .product__pay,
  .product__application,
  .result__row {
    padding: 15px;
  }
  .lesson__list {
    height: 40px;
  }
  .product__pay-img {
    width: 50px;
    height: 50px;
  }
  .product__form-input {
    padding: 13px 23px;
  }
  .result__img {
    width: 69px;
    height: 70px;
    object-position: -35px 0px;
    border: 2px solid rgba(255, 255, 255, 1);
  }
  .result__title-wrapper {
    gap: 13px;
  }
  .result__title-desc {
    gap: 11px;
  }
  .result__img_square,
  .teacher__item-img {
    width: 10px;
    height: 18px;
  }
  .product__application-lable {
    padding: 10px 2px;
  }
  .sos1al__row {
    padding: 15px;
  }
  .sos1al__soc1al-img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 522px) {
  .chat__items img {
    width: 75%;
  }
  .questions__img {
    bottom: 20px;
    left: 140%;
  }
}
@media screen and (max-width: 475px) {
  .accordion__button {
    padding: 15px 8px;
    gap: 10px;
  }
  .chat__items img {
    width: 85%;
  }
  .form__check {
    align-items: start !important;
  }
}
@media screen and (max-width: 440px) {
  .accordion__body {
    padding: 21px 10px 21px 10px;
  }
  .promo__img-man,
  .promo__img-absolute,
  .description__img,
  .school__img-wrapper {
    border-radius: var(--border-radius);
  }
  .slider__content {
    padding: 0 30px;
  }
  .lesson__desc {
    height: 370px;
  }
  .lesson__desc_h {
    height: 355px;
  }
  .questions__img {
    bottom: 20px;
    left: 110%;
  }
}
@media screen and (max-width: 397px) {
  .lesson__desc {
    height: 410px;
  }
  .lesson__desc_h {
    height: 395px;
  }
}
@media screen and (max-width: 381px) {
  .chat__items img {
    width: 95%;
  }
  .course__img-first,
  .course__img-second,
  .course__img-third,
  .course__img-fourth {
    width: 80px;
    height: 80px;
  }
  .course__text-fourth {
    height: 0px;
  }
  .testimonials__title,
  .accordion__title {
    text-align: center;
  }
  .course__inner-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .course__text-first,
  .course__text-second,
  .course__text-third,
  .course__text-fourth,
  .course__subtitle-first,
  .course__subtitle-second,
  .course__subtitle-third,
  .course__subtitle-fourth {
    max-width: 100%;
  }
  .course__img-wrapper-third,
  .course__img-wrapper-second {
    margin-top: 20px;
  }
  .course__img-wrapper_abs-second,
  .course__img-wrapper_abs {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .course__img-wrapper_abs-second {
    margin-top: 100px;
  }
  .questions__img {
    bottom: 20px;
    left: 80%;
  }
}
@media screen and (max-width: 368px) {
  .specialty__title,
  .lesson__title {
    text-align: center;
  }
  .accordion__img-wrapper::after,
  .school__video::after {
    top: 30%;
  }
}
@media screen and (max-width: 354px) {
}
@media screen and (max-width: 340px) {
  .questions__img {
    bottom: 20px;
    left: 60%;
  }
  .lesson__desc {
    height: 430px;
  }
  .lesson__desc_h {
    height: 420px;
  }
}
@media screen and (max-width: 327px) {
  .lesson__desc {
    height: 460px;
  }
  .lesson__desc_h {
    height: 450px;
  }
}
